SQLite is a self-contained, serverless and zero-configuration database engine that is used for embedded database system.

In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect("example.db")
connection

In [4]:
cursor = connection.cursor()

In [5]:
## create a table

cursor.execute('''
Create table if not exists employees(
                id Integer Primary Key,
                name Text Not Null,
                age Integer, 
                department text
                            )
''')

## commit the changes
connection.commit()

In [8]:
cursor.execute('''
       
       select * from employees               
               
               
               ''')

In [9]:
## insert the data in sqlite table

cursor.execute('''
 
Insert into employees(name, age, department)
            Values('Hardik', 22, 'SDE')  ,
                   ('Thomas Shelby', 40 , 'Businessman'),
                   ('Ken Kaneki' , 30, 'Ghoul')              
               
               ''')

connection.commit()

In [11]:
## query the data from the table

cursor.execute('''
select * from employees   
              
''')

result = cursor.fetchall()

## print the queried data

for row in result:
    print(row)

(1, 'Hardik', 22, 'SDE')
(2, 'Thomas Shelby', 40, 'Businessman')
(3, 'Ken Kaneki', 30, 'Ghoul')

In [13]:
## update the data

cursor.execute('''

update employees
set age=35
where name="Ken Kaneki"  
               
               ''')


connection.commit()

In [14]:
## query the data from the table

cursor.execute('''
select * from employees   
              
''')

result = cursor.fetchall()

## print the queried data

for row in result:
    print(row)

(1, 'Hardik', 22, 'SDE')
(2, 'Thomas Shelby', 40, 'Businessman')
(3, 'Ken Kaneki', 35, 'Ghoul')

In [15]:
## delete the data

cursor.execute('''

Delete from employees
 where name="Thomas Shelby"               
               
               ''')

connection.commit()

In [16]:
## query the data from the table

cursor.execute('''
select * from employees   
              
''')

result = cursor.fetchall()

## print the queried data

for row in result:
    print(row)

(1, 'Hardik', 22, 'SDE')
(3, 'Ken Kaneki', 35, 'Ghoul')

### working with sales data

In [19]:
connection = sqlite3.connect('sales.db')

cursor.execute('''
         create table if not exists sales(
             
             id integer primary key,
             date text not null,
             product text not null,
             sales integer,
             region text
         )      
               
               ''')

sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
 Insert into sales(date, product, sales, region)
    values(?, ?, ?, ?)                  
                   
                   ''', sales_data)


connection.commit()

In [21]:
cursor.execute("select * from sales")
result = cursor.fetchall()

for row in result:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [22]:
## close the connection
connection.close()