## Lists

* lists are ordered , mutable, collections of items
* They can contain items of different data types, they are heterogeneous in nature

In [3]:
lst = [1, 3, 4, 4]
print(lst, type(lst))

[1, 3, 4, 4] <class 'list'>

In [7]:
lst = [1,2, 3,3, 4,4,5, 5]
print(lst[0], lst[-1])

1 5

In [8]:
lst[:3]

[1, 2, 3]

In [10]:
lst[::-1]  # reverse the list

[5, 5, 4, 4, 3, 3, 2, 1]

In [11]:
# list methods

lst.append(6)
print(lst)

[1, 2, 3, 3, 4, 4, 5, 5, 6]

In [20]:
lst.insert(0, 0)

print(lst)

[0, 1, 2, 3, 3, 4, 4, 5, 5, 6]

In [21]:
lst.remove(0)
print(lst)

[1, 2, 3, 3, 4, 4, 5, 5, 6]

In [23]:
ele = lst.pop()  # remove and return the last element
print(lst, ele)

[1, 2, 3, 3, 4, 4, 5] 5

In [25]:
lst.index(3)

2

In [29]:
lst.count(4)

2

In [37]:
lst = [3,2 ,1,3,4,6 ,3,1,4,5,3,2,5]

lst.sort(reverse = True)
lst

[6, 5, 5, 4, 4, 3, 3, 3, 3, 2, 2, 1, 1]

In [39]:
# iterating with index

for index, number in enumerate(lst) : 
    print(index ,number, sep=' ')

0 6
1 5
2 5
3 4
4 4
5 3
6 3
7 3
8 3
9 2
10 2
11 1
12 1

#### List Comprehension

* Basic Syntax  [expression for item in iterable]

* with conditional logic     [expression for item in iterable if condition]

* nested list Comprehension   [expression for item1 in iterable1 for item2 in iterable2]

In [40]:
lst = [ i for i in range(10)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
lst = [ i for i in range(10) if i & 1]
lst

[1, 3, 5, 7, 9]

In [44]:
mat = [[1,2,3], [4,5,6], [7,8,9] ]

lst = [i for row in mat for i in row]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples

* Ordered Collection of items.
* They are immutable.

In [47]:
tup = (1,2,3)

print(tup, type(tup))

(1, 2, 3) <class 'tuple'>

In [48]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [50]:
tpl = tuple([1,2,3,3,4])
tpl

(1, 2, 3, 3, 4)

In [52]:
tpl = (1,2,3)
tpl * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [54]:
# tuples are immutable, means their elements cannot be changed once assigned
tpl[0]= 1

TypeError: 'tuple' object does not support item assignment

In [57]:
# tuple methods
tpl.count(1)

1

In [59]:
tpl.index(2)

1

In [63]:
# packing and unpacking methods

packed = 1,2,3
a,b,c = packed
print(a,b,c)

1 2 3

In [65]:
# unpacking with *

numbers = (1,2,3,4,5,6)
first , *middle, last = numbers

print(first, middle, last)

1 [2, 3, 4, 5] 6

# Sets

* Store unique items.
* They are unordered.

In [2]:
# create

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
my_set  = set()
my_set

set()

In [6]:
my_set = set([1,2,3,4,5])
my_set

{1, 2, 3, 4, 5}

In [11]:
# set operations

my_set.add(19)
my_set

{1, 2, 3, 4, 5, 19}

In [12]:
my_set.remove(19)
my_set

{1, 2, 3, 4, 5}

In [15]:
3 in my_set   # membership test

True

In [19]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7}

set1.union(set2)   # produces a new set

{1, 2, 3, 4, 5, 6, 7}

In [20]:
set1.intersection(set2)

{4, 5}

In [22]:
set1.difference(set2)

{1, 2, 3}

In [24]:
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7}

In [26]:
set1.issubset(set2)

False

In [29]:
set1.issuperset(set2)

False

In [31]:
lt = [1,3,3,4,4,4,4,4,5]
set(lt)

{1, 3, 4, 5}

In [33]:
# counting unique words in a sentence

text = "Hi Hi hardik hardik gaur gaur"

ls = text.split(" ")
len(set(ls))

3