## Lists

* lists are ordered , mutable, collections of items
* They can contain items of different data types, they are heterogeneous in nature

In [3]:
lst = [1, 3, 4, 4]
print(lst, type(lst))

[1, 3, 4, 4] <class 'list'>

In [7]:
lst = [1,2, 3,3, 4,4,5, 5]
print(lst[0], lst[-1])

1 5

In [8]:
lst[:3]

[1, 2, 3]

In [10]:
lst[::-1]  # reverse the list

[5, 5, 4, 4, 3, 3, 2, 1]

In [11]:
# list methods

lst.append(6)
print(lst)

[1, 2, 3, 3, 4, 4, 5, 5, 6]

In [20]:
lst.insert(0, 0)

print(lst)

[0, 1, 2, 3, 3, 4, 4, 5, 5, 6]

In [21]:
lst.remove(0)
print(lst)

[1, 2, 3, 3, 4, 4, 5, 5, 6]

In [23]:
ele = lst.pop()  # remove and return the last element
print(lst, ele)

[1, 2, 3, 3, 4, 4, 5] 5

In [25]:
lst.index(3)

2

In [29]:
lst.count(4)

2

In [37]:
lst = [3,2 ,1,3,4,6 ,3,1,4,5,3,2,5]

lst.sort(reverse = True)
lst

[6, 5, 5, 4, 4, 3, 3, 3, 3, 2, 2, 1, 1]

In [39]:
# iterating with index

for index, number in enumerate(lst) : 
    print(index ,number, sep=' ')

0 6
1 5
2 5
3 4
4 4
5 3
6 3
7 3
8 3
9 2
10 2
11 1
12 1

#### List Comprehension

* Basic Syntax  [expression for item in iterable]

* with conditional logic     [expression for item in iterable if condition]

* nested list Comprehension   [expression for item1 in iterable1 for item2 in iterable2]

In [40]:
lst = [ i for i in range(10)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
lst = [ i for i in range(10) if i & 1]
lst

[1, 3, 5, 7, 9]

In [44]:
mat = [[1,2,3], [4,5,6], [7,8,9] ]

lst = [i for row in mat for i in row]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples

* Ordered Collection of items.
* They are immutable.

In [47]:
tup = (1,2,3)

print(tup, type(tup))

(1, 2, 3) <class 'tuple'>

In [48]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [50]:
tpl = tuple([1,2,3,3,4])
tpl

(1, 2, 3, 3, 4)

In [52]:
tpl = (1,2,3)
tpl * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [54]:
# tuples are immutable, means their elements cannot be changed once assigned
tpl[0]= 1

TypeError: 'tuple' object does not support item assignment

In [57]:
# tuple methods
tpl.count(1)

1

In [59]:
tpl.index(2)

1

In [63]:
# packing and unpacking methods

packed = 1,2,3
a,b,c = packed
print(a,b,c)

1 2 3

In [65]:
# unpacking with *

numbers = (1,2,3,4,5,6)
first , *middle, last = numbers

print(first, middle, last)

1 [2, 3, 4, 5] 6

# Sets

* Store unique items.
* They are unordered.

In [2]:
# create

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
my_set  = set()
my_set

set()

In [6]:
my_set = set([1,2,3,4,5])
my_set

{1, 2, 3, 4, 5}

In [11]:
# set operations

my_set.add(19)
my_set

{1, 2, 3, 4, 5, 19}

In [12]:
my_set.remove(19)
my_set

{1, 2, 3, 4, 5}

In [15]:
3 in my_set   # membership test

True

In [19]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7}

set1.union(set2)   # produces a new set

{1, 2, 3, 4, 5, 6, 7}

In [20]:
set1.intersection(set2)

{4, 5}

In [22]:
set1.difference(set2)

{1, 2, 3}

In [24]:
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7}

In [26]:
set1.issubset(set2)

False

In [29]:
set1.issuperset(set2)

False

In [31]:
lt = [1,3,3,4,4,4,4,4,5]
set(lt)

{1, 3, 4, 5}

In [33]:
# counting unique words in a sentence

text = "Hi Hi hardik hardik gaur gaur"

ls = text.split(" ")
len(set(ls))

3

# Dictionaries

* Unordered Collections of items
* Key must be immutable

In [1]:
## creating dictionaries

my_dict = {}
type(my_dict)

dict

In [2]:
dict()

{}

In [16]:
student = {
    
    "name" : "hardik",
    "age" : 21
}

student

{'name': 'hardik', 'age': 21}

In [15]:
student['name']

'hardik'

In [17]:
student['sex']

KeyError: 'sex'

In [18]:
print(student.get('sex'))

None

In [12]:
print(student.get('sex', 'male'))

male

In [19]:
del student['age']

In [20]:
student

{'name': 'hardik'}

In [21]:
student['age'] = 21

In [23]:
keys = student.keys()
print(keys)
values = student.values()
print(values)

items = student.items()
print(items)

dict_keys(['name', 'age'])
dict_values(['hardik', 21])
dict_items([('name', 'hardik'), ('age', 21)])

In [25]:
## shallow copy

student_copy = student.copy()
student_copy['name'] = 'Kaneki'
print(student, student_copy)

{'name': 'hardik', 'age': 21} {'name': 'Kaneki', 'age': 21}

In [26]:
## iterating over dictionaries

for key, value in student.items() : 
    print(key, value , sep=' : ')

name : hardik
age : 21

In [28]:
for key in student:
    print(key)

name
age

In [29]:
for value in student.values(): 
    print(value)

hardik
21

In [30]:
# dictionary comprehension

dict = {i : i*i for i in range(1,6)}
dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [32]:
# conditional dictionary comprehension

evens = {x : x**2 for x in range(1,11) if not (x & 1)}
evens

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [35]:
# merge 2 dictionaries into 1 

dict1 = {'a' : 1, 'b' : 2}
dict2 = {'b' : 3, 'c' : 4}
merged = {**dict1, **dict2}  # unpack the dicts

merged

{'a': 1, 'b': 3, 'c': 4}

# Functions

In [36]:
def sum(a, b) :
    """ Adds two numbers """
    return a + b

print(sum(1,2))

3

In [37]:
# default parameters

def greet(name = "Hardik") : 
    print(f"Hello {name}")
    
greet()

Hello Hardik

In [39]:
# variable length arguments

## positional and keywords arguments

def print_numbers(*args) : 
    for i in args : 
        print(i ,end=' ')
    print()   
    
print_numbers(1,2,3,4)

1 2 3 4

In [40]:
# keyword arguments

def print_details(**kwargs) : 
    for key, value in kwargs.items() : 
        print(f"{key} : {value}")

print_details(name = "hardik", age="21")

name : hardik
age : 21

In [41]:
def print_details(*args, **kwargs) :
    for i in args : 
        print(i ,end=' ')
    print()   
    for key, value in kwargs.items() : 
        print(f"{key} : {value}")

print_details(1,2,3,name="Hardik")

1 2 3
name : Hardik

In [2]:
def is_strong_password(password) : 
    if len(password) < 8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower()  for char in password):
        return False 
    if not any(char.isupper() for char in password) :
        return False
    return True

### lambda functions

* lambda function are small anonymous functions.
* they can have any number of arguments but only one expression.

In [1]:
addition = lambda a,b : a + b
addition(1,2)

3

In [8]:
# map() : applies functions to all items in a list

numbers = [1,2,3,4,5,6]

square = list(map(lambda x : x**2, numbers))
square

[1, 4, 9, 16, 25, 36]

### map()

In [4]:
# map multiple iterables

numbers1 = [1,2,3]
numbers2 = [4,5,6]

res = list(map(lambda x, y : x + y, numbers1, numbers2 ))
res

[5, 7, 9]

In [5]:
# to convert a list of strings into numbers

nums = ['1', '2', '3', '4']
res = list(map(int, nums))
res

[1, 2, 3, 4]

In [6]:
words = ['apple', 'banana', 'cherry']

res = list(map(str.upper, words))
res

['APPLE', 'BANANA', 'CHERRY']

In [7]:
people = [
    
    {'name' : "Hardik", 'age' : 21},
    {"name" : "Kaneki", 'age' : 23}
]

res = list(map(lambda x : x['name'], people))  # extract names
res

['Hardik', 'Kaneki']

### filter()

In [11]:
lst = [1,2,3,4,5,6,7,8,9]

res = list(filter(lambda x : x %2 ==0, lst) )
res

[2, 4, 6, 8]

In [12]:
## filter objects with age >= 20

people = [
    
    {'name' : "Hardik", 'age' : 21},
    {"name" : "Kaneki", 'age' : 23},
     {'name' : "Eren", 'age' : 19},
]


res= list(filter(lambda x : x['age'] >= 20, people))
res

[{'name': 'Hardik', 'age': 21}, {'name': 'Kaneki', 'age': 23}]