In [2]:
import numpy as np
import pandas as pd

In [8]:

df = pd.DataFrame(np.random.randint(1, 100, size=(6,4)), columns=['A', 'B', 'C', 'D'] )
print(df)
df.set_index('A', inplace=True)
print(df)

    A   B   C   D
0  73  98  34  70
1  59  77  36  57
2  32  41  84  18
3  24  72  97  38
4  52  14  56  23
5  13  14  98  73
     B   C   D
A
73  98  34  70
59  77  36  57
32  41  84  18
24  72  97  38
52  14  56  23
13  14  98  73

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, size=(3,3)) , columns=['A', 'B', 'C'], index=['X', 'Y','Z'])
print(df)
print(df.loc['Y']['B'])
print(df.at['Y', 'B'])

    A   B   C
X  17   6  31
Y  71   6  70
Z  43  52  26
6
26

In [15]:
df = pd.DataFrame(np.random.randint(1,10, size=(5, 3)), columns=['A', 'B', 'C'])
print(df)

df['D'] = df['A'] * df['B']
print(df)

   A  B  C
0  2  6  4
1  7  1  7
2  5  9  6
3  5  7  9
4  2  8  9
   A  B  C   D
0  2  6  4  12
1  7  1  7   7
2  5  9  6  45
3  5  7  9  35
4  2  8  9  16

In [17]:
df = pd.DataFrame(np.random.randint(1,10, size=(4,3)), columns=['A', 'B', 'C'])
print(df)
row_sum = np.sum(df, axis=1)
col_sum = np.sum(df, axis=0)

print(row_sum)
print(col_sum)

   A  B  C
0  3  1  1
1  8  2  6
2  8  4  2
3  7  8  8
0     5
1    16
2    14
3    23
dtype: int64
A    26
B    15
C    17
dtype: int64

In [ ]:
df = pd.DataFrame(np.random.randint(1,10, size=(5, 3)), columns=['A', 'B', 'C'])

df.at[0, 'A'] =  np.nan
df.at[4 , 'C'] = np.nan
df.at[3, 'A'] = np.nan


df.fillna(df.mean(), inplace=True)  ## fill na with mean of each respective columns

print(df)

     A  B     C
0  7.0  1  7.00
1  8.0  8  8.00
2  6.0  6  8.00
3  7.0  5  2.00
4  7.0  4  6.25

In [34]:
df = pd.DataFrame(np.random.randint(1,10, size=(6, 4)), columns=['A', 'B', 'C', 'D'])

df.at[0, 'A'] =  np.nan
df.at[4 , 'C'] = np.nan
df.at[3, 'A'] = np.nan

print(df)

df.dropna(axis=0, inplace=True)

print(df)

     A  B    C  D
0  NaN  1  6.0  8
1  8.0  9  2.0  9
2  5.0  4  4.0  6
3  NaN  6  9.0  8
4  9.0  6  NaN  4
5  9.0  7  1.0  4
     A  B    C  D
1  8.0  9  2.0  9
2  5.0  4  4.0  6
5  9.0  7  1.0  4

In [38]:
mp = {
    
    'Category' : np.random.choice(['A', 'B', 'C'], size=10),
    'Value' : np.random.randint(1,10, size=(10,))
}

df = pd.DataFrame(mp)

print(df)

result = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print(result)

  Category  Value
0        A      2
1        B      8
2        C      5
3        A      3
4        B      9
5        B      1
6        B      3
7        A      5
8        C      8
9        A      4
          sum  mean
Category
A          14  3.50
B          21  5.25
C          13  6.50

In [43]:
df = pd.DataFrame({
    
    
    'Product' : np.random.choice(['P1','P2', 'P3'], size=10),
    'Category' : np.random.choice(['C1', 'C2', 'C3'], size=10),
    'Sales' :np.random.randint(1, 10, size=(10,))
})
print(df)
result = df.groupby('Category')['Sales'].sum()
print(result)

  Product Category  Sales
0      P2       C2      5
1      P1       C3      3
2      P1       C1      6
3      P2       C1      9
4      P1       C1      7
5      P3       C1      1
6      P1       C3      2
7      P3       C3      4
8      P1       C3      3
9      P3       C3      4
Category
C1    23
C2     5
C3    16
Name: Sales, dtype: int32

In [50]:
df1= pd.DataFrame({'A' : [1, 2,3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A' : [1, 2, 3], 'C' : [10,11,12]})

print(df1)
print(df2)

res = pd.merge(df1, df2, on='A')
print(res)

   A  B
0  1  4
1  2  5
2  3  6
   A   C
0  1  10
1  2  11
2  3  12
   A  B   C
0  1  4  10
1  2  5  11
2  3  6  12

In [ ]:
df1 = pd.DataFrame(np.random.randint(1, 10, size=(6, 3)), columns=['A' , 'B', 'C'])
df2 = pd.DataFrame(np.random.randint(1, 10, size=(6, 3)), columns=['D' , 'E', 'F'])

print(df1)
print(df2)

res = pd.concat([df1, df2], axis=1)
print(res)

df1 = pd.DataFrame(np.random.randint(1, 10, size=(6, 3)), columns=['A' , 'B', 'C'])
df2 = pd.DataFrame(np.random.randint(1, 10, size=(6, 3)), columns=['A' , 'B', 'C'])

res = pd.concat([df1, df2], axis=0).reset_index(drop=True)
print(res)

   A  B  C
0  7  7  5
1  8  3  2
2  1  6  8
3  7  6  5
4  4  7  9
5  6  5  7
   D  E  F
0  9  8  2
1  7  9  4
2  1  9  7
3  9  7  4
4  6  6  9
5  2  9  1
   A  B  C  D  E  F
0  7  7  5  9  8  2
1  8  3  2  7  9  4
2  1  6  8  1  9  7
3  7  6  5  9  7  4
4  4  7  9  6  6  9
5  6  5  7  2  9  1
    A  B  C
0   6  3  5
1   9  8  4
2   1  4  7
3   7  1  4
4   3  4  8
5   2  7  1
6   5  2  3
7   9  5  7
8   4  4  5
9   9  1  3
10  9  8  4
11  5  1  9